log/fly/**/models/best_model_with_*.pt filter=lfs diff=lfs merge=lfs -text
graphs_data/**/connectivity.pt filter=lfs diff=lfs merge=lfs -text
docs/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/**/*.html filter=lfs diff=lfs merge=lfs -text
docs/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/*.png filter=lfs diff=lfs merge=lfs -text
assets/*.html filter=lfs diff=lfs merge=lfs -text
.quarto/_freeze/**/*.png filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_INR/models/* filter=lfs diff=lfs merge=lfs -text
log/fly/*/models/*.pt filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_INR/models/inr_stimulus_2.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_INR/models/best_model_with_0_graphs_2.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_null_edges_pc_100/models/best_model_with_0_graphs_0.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_null_edges_pc_200/models/best_model_with_0_graphs_0.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_null_edges_pc_400/models/best_model_with_0_graphs_0.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_removed_pc_02/models/best_model_with_0_graphs_0.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_removed_pc_05/models/best_model_with_0_graphs_0.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_removed_pc_10/models/best_model_with_0_graphs_0.pt filter=lfs diff=lfs merge=lfs -text
log/fly/flyvis_noise_005_removed_pc_20/models/best_model_with_0_graphs_0.pt filter=lfs diff=lfs merge=lfs -text
